*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    perspective: 500px;
    margin-top: 100px;

}

.box {
    display: block;
    width: 100px;
    height: 100px;
    margin: 15px auto;
    transition: all 1s;

}

.box:first-child:hover
{transform: translateZ(200px);}
.box:nth-child(2):hover
{transform: translateZ(400px);}
.box:last-child:hover
{transform: translateZ(500px);}










